{
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "trailingComma": "all",
  "explicitTypes": "always",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true
}
